{% extends "layout.html" %}

{% block title %}{{ athlete.name }} ({{ athlete.id }}){% endblock %}
{% block body_class %}show{% endblock %}

{% block content %}
    <h1>{{ athlete.name }}</h1>

    <article>
        <p><strong>Sport:</strong> {{ athlete.sport_name }}</p>
        <p><strong>Age:</strong> {{ athlete.age }}</p>
    </article>

    <ul class="action-list">
        <li>
            <a href="{{ url_for('athlete_index') }}">Back to list</a>
        </li>
        <li>
            <a href="{{ url_for('athlete_edit', athlete_id=athlete.id) }}">Edit</a>
        </li>
    </ul>
{% endblock %}