<form method="post" action="{{ path('app_athlete_delete', {'id': athlete.id}) }}" onsubmit="return confirm('Na pewno chcesz usunąć ten rekord?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ athlete.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
