{% extends 'base.html.twig' %}

{% block title %}Dodaj zawodnika{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="h3 mb-3">Dodaj zawodnika</h1>

            {{ include('athlete/_form.html.twig') }}

            <div class="mt-3">
                <a href="{{ path('app_athlete_index') }}" class="btn btn-outline-secondary">
                    Powrót
                </a>
            </div>
        </div>
    </div>
{% endblock %}
